<div class="container">

        <div class="navbar">
                <img src="../assets/logo.png" alt="innominds" height="45" width="80">
                <a href="#home">Track</a>
                <a href="#news">insights</a>
                <button> Logout</button>
        </div>
         
        <footer>
                <p align=left>
                        <span style="color: #ff0000">Inno</span><span style="color: yellow">minds</span> &copy; 2018 Innominds | All Rights Reserved
                </p>
        </footer>
</div>
        